<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home - <% include includes/smalltitle %></title>
	<meta name="viewport" content="width=device-width, initial-scale-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<% include includes/navbar %>

<div class="container">
  <div class="jumbotron">
    <h1>Home</h1>
    <h2><% include includes/smalltitle %></h2>
  </div>
  
<div class="row">
		<div class="col-sm-12">
			<a class="btn btn-block btn-lg btn-info sharp" href="createWishlist">
			<br><br>
			Enter a New Wishlist
			<br><br><br>
			</a>
			<br>
		</div>
  </div>
</div>


</body>
</html>